<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437996196053-ln81s3v0ep3srs3v03uun8b81mqomrd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437996196053-ln81s3v0ep3srs3v03uun8b81mqomrd5</string>
	<key>API_KEY</key>
	<string>AIzaSyAXS8SivkKOk7cP7N5Sl1s_-83H5ac8MT8</string>
	<key>GCM_SENDER_ID</key>
	<string>437996196053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gilmarjr.appLoginEbac</string>
	<key>PROJECT_ID</key>
	<string>aula-ebac-36bd3</string>
	<key>STORAGE_BUCKET</key>
	<string>aula-ebac-36bd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437996196053:ios:2ca9b7c546dd31f192925c</string>
</dict>
</plist>